<ion-header>
  <ion-toolbar>
    <ion-title>用户信息</ion-title>
    <ion-buttons slot="end" style="padding-top: 8px;">
      <ion-button (click)="dologout()">
        退出登录
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label slot="start">已支付的景点信息</ion-label>
      <ion-button slot="end" routerLink="/user-product" >查看详情</ion-button>
    </ion-item>
    <ion-item>
      <ion-label slot="start">已支付的酒店信息</ion-label>
      <ion-button slot="end" routerLink="/user-hotel" >查看详情</ion-button>
    </ion-item>
  </ion-card>
</ion-content>